 
  
    .onlineFriend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
    .onlineFriend .profilePic {
    margin-right: 0.5rem;
    position: relative;
  }
  
    .onlineFriend .profilePic .pic {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
    .onlineFriend .profilePic .online {
    height: .8rem;
    width: .8rem;
    background-color: limegreen;
    position: absolute;
    border-radius: 50%;
    right: -.2rem;
    border: .15rem solid white;
  }
  
    .onlineFriend span {
    font-weight: 600;
  }