@mixin flex {
  display: flex;
  // justify-content: center;
  align-items: center;
}
@mixin bor {
  border: 0.1rem solid black;
}
@mixin input {
  outline: none;
  border: none;
}

.rightbarContainer {
  padding: 1rem;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  .rightbarBox {
    // @include flex();
    .birthdayBox {
      @include flex();
      .giftPic {
        height: 2rem;
        width: 2rem;
        margin-right: 0.5rem;
      }
    }
    .rightBarAd {
      width: 100%;
      margin: 1rem 0;
      border-radius: 1rem;
    }
    h4 {
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }
    .onlineFriendList {
      list-style: none;
      .onlineFriend {
        @include flex();
        .profilePic {
          margin-right: 0.5rem;
          position: relative;
          .pic {
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            object-fit: cover;
          }
          .online{
            height: .8rem;
            width: .8rem;
            background-color: limegreen;
            position: absolute;
            border-radius: 50%;
            right: -.2rem;
            border: .15rem solid white;
          }
        }
        span{
          font-weight: 600;
        }
      }
    }
  }
}
